html {
    font-size: 16px;
}

body {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    font-family: $font-base;

    background-color: $color-main-bg;
}

a {
    display: inline-block;
    color: $color-link;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    text-decoration: none;
    outline: 0;

    &:hover {
        color: $color-link-hover;
    }
    &:focus {
        background-color: rgba($color-link, 0.1);
    }
    &:active {
        background-color: rgba($color-link-hover, 0.2);
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

main {
    #{headings(1,6)} {
        font-family: $font-main;
        color: $color-header;
        transition: color 0.2s ease-in-out;

        a {
            color: $color-header;

            &:focus {
                background-color: rgba($color-header, 0.1);
            }
            &:active {
                background-color: rgba($color-header, 0.2);
            }
            &:focus:hover {
                background-color: rgba($color-link-hover, 0.1);
            }
        }
    }
}

p {
    line-height: 1.5;
}

hr {
    border: 0;
    border-top: 1px dashed $color-main-border;
}

// Block all CSS transitions inside elements having this class
// Used on page load, to prevent weird CSS transition-on-load behaviour
.notransition * {
  transition: none !important;
}
