/**
 * Logo banner.
 */
header#banner {
    .logo {
        display: inline-block;
        margin: 0.5em 0;
        padding: 0.5em 1em;
        overflow: visible;
        white-space: nowrap;
        text-decoration: none;
        user-select: none;
        transition: border-color 0.2s ease-in-out,
            color 0.2s ease-in-out,
            background-color 0.2s ease-in-out;
        color: $logo-color;
        border: $logo-color solid 0.2em;
        font-family: $font-logo;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.075em;
        line-height: 1;
        text-transform: uppercase;
        border-radius: 0;

        &:hover {
            border-color: $logo-color-hover !important;
            color: $logo-color-hover !important;
        }
        &:active {
            border-color: $logo-color-hover !important;
            color: $logo-color-hover !important;
            background-color: rgba($logo-color-hover, 0.2) !important;
        }
    }

    section.actions {
        a.theme-toggle,
        a.navbar-toggle {
            padding: 0.35em;
            width: 1.5em;
            height: 1.5em;

            svg {
                max-width: 1.5em !important;
                max-height: 1.5em !important;
            }
        }
    }
}

/**
 * HTML elements in pages.
 */

content {
    pre {
        padding: 0.5em;
        overflow: auto;
        font-family: $font-mono;
        box-sizing: border-box;
        background-color: $color-code-bg !important;
        border-radius: 4px;
        transition: background-color 0.2s ease,
            border 0.2s ease;

        // Hack to keep code blocks dark, also in light mode
        code {
            background-color: $color-code-bg !important;
        }
    }

    img, video {
        overflow: scroll;
        max-width: 100%;
        border-radius: 4px;
    }

    code {
        padding: 0 0.25em;
        display: inline-block;
        font-family: $font-mono;
        background-color: $color-main-bg-alt;
        border-radius: 4px;
        transition: background-color 0.2s ease,
            color 0.2s ease;
    }

    table {
        display: block;
        overflow: auto;
        max-width: 100%;
        border: 1px dashed $color-main-border;
        border-spacing: 0.5em;
        border-collapse: separate;

        td {
            min-width: 10em;
        }
    }

    iframe {
        overflow: auto;
        max-width: 100%;
    }

    blockquote {
        border-left: 4px solid $color-main-bg-alt;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
        transition: border 0.2s ease;
    }

    #toc-container {
        margin-top: 1em;
        padding: 1em;
        box-sizing: border-box;
        background-color: $color-main-bg-alt;
        border-radius: 4px;
        transition: background-color 0.2s ease,
            border 0.2s ease;

        h4 {
            margin: 0 0 0.5em 0;
        }

        select#toc-select {
            width: 100%;
            padding: 0.5em;
            color: $color-text;
            background: $color-main-bg;
            border: 1px solid $color-main-border;
            border-radius: 4px;
            transition: background-color 0.2s ease,
                border-color 0.2s ease,
                color 0.2s ease;
        }
    }
}

/**
 * Text style modifiers.
 */

.muted {
    color: $color-text-muted;
    transition: color 0.2s ease;
}

.meta {
    font-family: $font-main;
}

/**
 * Tags
 */

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: $color-main-bg-alt;
    display: inline-block;
    border-radius: 3px;
    font-family: $font-main;
    padding: 0.2em 0.4em;
    line-height: 1;
    margin: 0 0.2em 0.2em 0;
    transition: background-color 0.2s ease;
}

a.tag {
    &:focus {
        background-color: rgba($color-link, 0.1);
    }
    &:active {
        background-color: rgba($color-link-hover, 0.2);
    }
}

/**
 * Title anchors
 */

.anchor {
    margin-left: 0.1em;
    transition: opacity 0.2s ease;
    opacity: 0;
}

.anchor::after {
    content: '#';
}

*:hover > .anchor,
.anchor:active,
.anchor:focus {
    opacity: 1;
}
