@import "_config";

$dark: true;

// Colors
$color-text: #a6a28c;
$color-text-muted: darken($color-text, 25%);
$color-main-bg: #141516;
$color-main-bg-alt: darken($color-main-bg, 2%);
$color-main-border: darken($color-main-bg, 5%);
$color-header: #FF6F33;
$color-link: #6699cc;
$color-link-hover: lighten($color-link, 15%);
$color-code-bg: $color-main-bg-alt;

// Top logo and landing page
$logo-color: $color-text;
$logo-color-hover: $color-link-hover;
