@import "_config";

// Colors
$color-text: #a6a28c;
$color-text-muted: darken($color-text, 25%);
$color-main-bg: #20201d;
$color-main-bg-alt: darken($color-main-bg, 4%);
$color-main-border: darken($color-main-bg, 8%);
$color-main-shadow: rgba($color-main-border, 0.4);
$color-header: #ff6f33;
$color-link: #ae9513;
$color-link-hover: lighten($color-link, 15%);

// Top logo and landing page
$logo-color: #ddd;
$logo-color-hover: $color-link-hover;
$landing-color-shadow: $color-main-border;
