@import "_config";

// Colors
$color-text: #282828;
$color-text-muted: lighten($color-text, 35%);
$color-main-bg: #fcfbf7;
$color-main-bg-alt: darken($color-main-bg, 10%);
$color-main-border: darken($color-main-bg, 50%);
$color-main-shadow: rgba(darken(#20201d, 8%), 0.1);
$color-header: #ff6f33;
$color-link: #9C8611;
$color-link-hover: darken($color-link, 10%);

// Top logo and landing page
$logo-color: #fff;
$logo-color-hover: lighten($color-link, 15%);
$landing-color-shadow: darken(#20201d, 8%);
