// Responsive sizes
$responsive-small: 900px;
$responsive-mini: 550px;
$responsive-tiny: 425px;

// Fonts
$font-base: "Source Sans Pro", Ubuntu, sans-serif;
$font-main: "Zilla Slab", "Open Sans", sans-serif;
$font-read: "Merriweather", serif;
$font-mono: "Fira Mono", monospace;
$font-logo: $font-main;
