header#banner {
    color: $logo-color;
    font-family: $font-main;
}

header#banner p.greeting {
    font-size: 2em;
    text-shadow: 0 0 0.75em $color-main-border;
    font-family: $font-read;
    font-style: italic;

    &.top {
        margin: 4em auto 0 auto;
    }
    &.bottom {
        margin: 0 auto 2em auto;
    }
}

header#banner .links {
    font-size: 2em;
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    line-height: 1.5;
    text-align: left;
    text-shadow: 0 0 0.75em $color-main-border;

    margin-bottom: 2em;

    div {
        flex-basis: 40%;
    }

    .left {
        text-align: right;
    }

    a {
        display: inline-block;
        color: $logo-color;
        text-decoration: none;
        outline: 0;

        &:hover {
            color: $color-link-hover;
        }
        &:focus {
            background-color: rgba($color-link, 0.1);
        }
        &:active {
            background-color: rgba($color-link-hover, 0.2);
        }
    }
}

header#banner ul {
    font-size: 1.5rem;
    margin-top: 0.5em;
    padding-left: 0;
    list-style: none;

    .described {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        span {
            margin: 0.35em 1em 0.35em 0;
            font-family: $font-read;
            font-size: 0.75em;
            font-style: italic;
        }
    }
}
