header#headertron {
    color: $logo-color;
    font-family: $font-main;
    margin: 3em 0 5em 0;
    text-align: center;

    .delimiter {
        display: block;
        width: auto;
        height: 0.7em;
    }

    .greeting {
        font-family: $font-read;
        font-size: 2em;
        line-height: 2;
        text-shadow: 0 0 0.75em $landing-color-shadow;

        .links {
            display: flex;
            align-content: flex-start;
            justify-content: center;

            a {
                margin: 0 0.7em;
                font-family: $font-main;
                display: inline-block;
                color: $logo-color;
                text-decoration: none;
                outline: 0;

                &:hover {
                    color: $color-link-hover;
                }
                &:focus {
                    background-color: rgba($color-link, 0.1);
                }
                &:active {
                    background-color: rgba($color-link-hover, 0.2);
                }
            }
        }
    }
}
