@media (max-width: $responsive-small) {
    main {
        flex-direction: column;
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin: 0;
    }

    sidebar {
        width: auto;
        border: none;
    }

    header#banner {
        grid-template-columns: min-content auto;
        grid-template-rows: min-content auto;
        grid-template-areas:
            "logo actions"
            "nav nav";

        // Use vertical navbar under header
        section.navbar {
            display: none;
            &.visible {
                display: block;
            }

            ul li a {
                display: block;
            }
        }

        section.actions .navbar-toggle {
            display: block !important;
        }
    }

    header#headertron {
        font-size: 0.7rem;
        margin: 2em 0;

        .greeting .links {
            justify-content: space-evenly;

            a {
                margin: 0;
            }
        }
    }
}

@media (max-width: $responsive-mini) {
    content {
        padding-left: 1em;
        padding-right: 1em;
    }

    header#banner,
    header#headertron {
        padding: 0 1em 0 1em;
    }
}

@media (max-width: $responsive-tiny) {
    header#headertron .greeting .links {
        flex-direction: column;
    }
}
