@media (max-width: $responsive-medium) {
    header#banner .links {
        flex-direction: column;
        justify-content: center;
        text-align: center !important;
        .left {
            text-align: center !important;
        }

        .described {
            flex-direction: column-reverse;

            span {
                margin: 0.2em 0.8em 0.8em 0.8em;
            }
        }
    }
}

@media (max-width: $responsive-small) {
    main {
        flex-direction: column;
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin: 0;
    }

    sidebar {
        width: auto;
    }
}

@media (max-width: $responsive-mini) {
    header#banner {
        font-size: 0.7rem;
        margin: 0.5em 0;
        min-height: auto;
        background: none;

        p.greeting.top {
            margin-top: 2.5em;
        }
        a {
            font-size: 1.3rem;
        }
        ul .described span {
            font-size: 1rem;
        }
    }

    header#banner .logo {
        padding: 0.7rem 1.25rem;
        font-size: 1.5rem;
        border-width: 4px;
    }

    content {
        padding: 1.5em 1em;
    }
}
