{% extends "site.html" %}
{% import "post_macros.html" as post_macros %}

{% block header %}
    <header id="banner">
        <div class="greeting top"><i>Hey, I'm</i></div>
        <a href="/" class="logo">{{ config.extra.zenn_title }}</a>
        <div class="greeting bottom">
            &bullet;<br>
            <i>I am a developer</i><br>
            <i>I consume coffee</i><br>
            <i>I build & break software</i><br>
            &bullet;<br>
            <div class="links">
                <a href="{{ get_url(path="@/projects.md") | safe }}">Projects</a>
                <a href="{{ get_url(path="@/about.md#me-around-the-web") | safe }}">Me around the web</a>
                <a href="{{ get_url(path="@/about.md") | safe }}">About</a>
            </div>
        </div>
    </header>
{% endblock header %}

{% block body %}
    {{ section.content | safe }}
{% endblock body %}
