{% extends "site.html" %}

{% block header_meta %}
    <span class="muted">{{ post_macros::meta(page=page) }}</span>
{% endblock header_meta %}

{% block body %}
    <article itemscope itemtype="http://schema.org/BlogPosting">
        {#
        <header>
            <h1 itemprop="headline">{{ page.title }}</h1>
            <span class="muted">{{ post_macros::meta(page=page) }}</span>
        </header>
        #}

        <div itemprop="articleBody">
            {{ page.content | safe }}
        </div>
    </article>
{% endblock body %}

{% block page_footer %}
    <footer class="muted">
        <p>
            {% if config.extra.author %}
                Published by {{ config.extra.author }}
            {% endif %}
            {% if page.taxonomies.categories %}
                {% set category = page.taxonomies.categories[0] %}
                in <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
            {% endif %}
            {% if page.taxonomies.tags %}
                and tagged
                {% for tag in page.taxonomies.tags %}
                    <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}" class="tag">{{ tag }}</a>
                    {% if page.taxonomies.tags | length > 1 %}
                        {% if loop.index != page.taxonomies.tags | length %}
                            {% if loop.index == page.taxonomies.tags | length - 1 %}
                                and
                            {% else %}
                                ,
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    </footer>
{% endblock page_footer %}
