// Inspired by: monokai
// https://github.com/kevinsawicki/monokai

$light-text: #202020;
$dark-text:  #ccc;
$background: #282828;
$background-darker: darken($background, 4%);
$background-border: darken($background, 8%);
$header-color: #66D9EF;
$link-color: #A6E22E;
$link-color-hover: #FD971F;
$logo-color: #fff;
$logo-color-hover: $link-color-hover;
